<nav class="main-nav text-center" role="navigation">
    <ul>

    {{#foreach navigation}}
    	<li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}

    	<!--RSS -->
    	<li><a id="rss-link" href="{{@blog.url}}/rss/"><i class="fa fa-rss" ></i> Subscribe</a></li>

    </ul>
</nav>
